{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}" />
    <title>Eheheh</title>
</head>

<body>
    <div class="contenu">
        <header class="banner rounded-corners-banner">
            <h1>Microlly</h1>
            <h2>A microbbloging app</h2>
            <nav>
                <ul>
                    <li>
                        <form class="" action="{% url 'microlly_blog:index' %}" method="POST">
                            {% csrf_token %}
                            <button class="nav-button" type="submit">HOME</button>
                        </form>
                    </li>
                    <li>
                        <form class="" action="{% url 'microlly_blog:create' %}" method="POST">
                            {% csrf_token %}
                            <button class="nav-button" type="submit">CREATE</button>
                        </form>
                    </li>
                    <li>
                        <form class="" action="{% url 'accounts:logout' %}" method="POST">
                            {% csrf_token %}
                            <button class="nav-button" type="submit">LOG OUT</button>
                        </form>
                    </li>
                    <li>
                        <form class="" action="{% url 'accounts:login' %}" method="POST">
                            {% csrf_token %}
                            <button class="nav-button" type="submit">LOG IN</button>
                        </form>
                    </li>
                    <li>
                        <form class="" action="{% url 'accounts:signup' %}" method="POST">
                            {% csrf_token %}
                            <button class="nav-button" type="submit">SIGN UP</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
        <footer class="footer rounded-corners-footer">
            <p>Microblog crée par <b>Remy LEFEVRE </b> et <b>Sergen KOVAR</b>, 2018</p>
        </footer>
    </div>
</body>

</html>